.todaysHighlights {
  height: 34%;
  padding-top: 10px;

  &__container {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    height: 100%;
    border-radius: 10px;
    padding: 20px;

    h2 {
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__contents {
    display: flex;
    gap: 15px;
    height: calc(100% - 20px);
    padding: 10px 10px 0 10px;
  }
  
}