@import "@/style/base/variables.scss";

.AirConditionComponent {
  background-color: $componentsBackGround;
  max-width: 700px;
  padding: 8px 13px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  h1 {
    font-weight: 500;
  }
}

.AirConditionContainer {
  display: flex;
  justify-content: space-evenly;
}

.AirConditionContainerChildren {
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 200px;
  height: 200px;
  padding: 5px;
}

.circles {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gauge {
  width: 80%;
  max-width: 250px;
}

.gaugeSun {
  width: 80%;
  max-width: 250px;
}

.gaugeBody {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-color: #e7e7e7;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gaugeBodySun {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  border: 2px black dashed;
  border-bottom: none;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gaugeFill {
  position: absolute;
  top: 100%;
  left: -12px;
  width: 110%;
  height: 100%;
  background-color: #fd8a03;
  transform-origin: center top;
  transition: transform 0.2s ease-out;
}

.gaugeFillSun {
  position: absolute;
  top: 100%;
  left: -12px;
  width: 110%;
  height: 100%;
  background-color: #fd8a03;
  border-bottom: none;
  transform-origin: center top;
  transition: transform 0.2s ease-out;
}

.gaugeCover {
  width: 90%;
  height: 175%;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

.gaugeCoverSun {
  width: 90%;
  height: 175%;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 5%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.hoursContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  width: 100%;
}

.dayTime {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: #fd8a03;
  }
}

.sunIcon {
  position: absolute;
  left: -14px;
}

.uvMessage {
  margin-top: 20px;
  font-size: 14px;
}

.currentTime {
  top: 0;
  position: absolute;
  background-color: red;
}