@import "src/app/variables.module.scss";

.sidebar {
  padding: 24px 10px;
  width: 115px;
  height: 100%;
  border-radius: 10px;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 24px;

  &__links {
    margin-top: 20px;
  }

  &__user {
    margin-bottom: 40px;
    p {
      font-size: 16px;
    }
  }
  &__userIcon {
    height: 40px;
    width: 40px;
  }

  &__bottom {
    width: 100%;
  }

  &__log {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 3px;
    border-radius: 6px;
    transition: all 0.3s ease; 
    &:hover {
      background-color: rgba(180, 180, 180, 0.5);
      cursor: pointer;
    }
  }
  &__logIcon {
    width: 24px;
    height: 24px;
  }
}
