@import "src/app/variables.module.scss";

.sidebar {
  padding: 24px 10px;
  width: 115px;
  height: 100%;
  border-radius: 10px;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;

  &__user {
    p {
      font-size: 16px;
    }
  }
  &__userIcon {
    height: 40px;
    width: 40px;
  }
}
