.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
  border-radius: 10px;
  transition: all 0.3s ease; 
  padding: 8px;

  &:hover {
    background-color: rgba(180, 180, 180, 0.5);
  }
}

.link.disabled {
  cursor: default; 
  pointer-events: none; 
}

.name {
  font-size: 12px;
  white-space: nowrap;
}

.namePale {
  font-size: 12px;
  white-space: nowrap;
  opacity: 0.3;
}
