@import "@/style/base/variables.scss";

.currentWeather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 10px 30px;
  height: 26%;

  &__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__citySection {
    display: flex;
    gap: 5px;
  }

  &__starIcon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    color: lightgray;
  }
  .isFavorite {
    fill:yellow;
    color: rgb(228, 228, 28);
  }

  &__cityName {
    font-size: 28px;
    font-weight: 600;
  }

  &__stateAndCountry {
    display: flex;
    gap: 3px;
    margin-bottom: 8px;
    font-size: 13px;
  }

  &__dateTimeContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__dateTimeContainer {
    height: 15px;
    cursor: pointer;
  }

  &__dateTime {
    font-size: 12px;
    font-weight: 500;
  }

  &__updateIconContainer {
    height: 15px;
  }

  &__updateIcon {
    width: 15px;
    height: 15px;
  }

  &__temp {
    font-size: 48px;
    font-weight: 700;
  }

  &__feelslikeTemp {
    font-size: 14px;
    font-weight: 500;
  }

  &__weatherIconContainer {
    height: 157px;
    width: 157px;
  }

}


// Skeletons
.currentWeather {

  &__skeletonCityName {
    height: 28px;
    border-radius: 8px;
    margin-bottom: 3px;
    width: 120px;
    background-color: #ddd;
    background-image: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
    background-size: 200% 100%;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
  }

  &__skeletonAddress {
    height: 14px;
    border-radius: 8px;
    margin-bottom: 3px;
    width: 150px;
    background-color: #ddd;
    background-image: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
    background-size: 200% 100%;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
  }

  &__skeletonDateTime {
    height: 12px;
    border-radius: 8px;
    width: 100px;
    background-color: #ddd;
    background-image: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
    background-size: 200% 100%;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
  }

  &__skeletonTemp {
    height: 48px;
    border-radius: 8px;
    margin-bottom: 3px;
    width: 55px;
    background-color: #ddd;
    background-image: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
    background-size: 200% 100%;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
  }

  &__skeletonFeelslikeTemp {
    height: 14px;
    width: 80px;
    border-radius: 8px;
    background-color: #ddd;
    background-image: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
    background-size: 200% 100%;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
  }

  &__skeletonWeatherIcon {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    background-color: #ddd;
    background-image: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}