@import "@/style/base/variables.scss";

.WeeklyComponent {
  background-color: #D9D9D9;
  width: 100%;
  height: 100%;
  padding: 28px 34px 20px 34px;
  border-radius: 10px;

  &__content {
    height: 100%;
  }
  h2 {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

.WeeklyComponentList {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: calc(100% - 44px);
}

.WeeklyComponentItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(188, 188, 188);
  &:last-child {
    border-bottom: none;
  }

  &__left {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    div {
      display: flex;
    }
  }
  &__right {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    // gap: 8px;
  }
}

.WeeklyComponentDay {
  width: 50px;
}

.chanceOfRain {
  display: flex;
  align-items: center;
  gap: 1px;
  &__icon {
    width: 18px;
    height: 18px;
  }
}

// Skeletons
.skeleton {
  background-color: #e0e0e0; 
  width: 100%;
  height: 100%;
  padding: 28px 34px 20px 34px;
  border-radius: 10px;

  h2,
  &__WeeklyComponentDay,
  &__WeeklyComponentWeatherIcon,
  &__temps,
  &__chanceOfRain {
    background-image: linear-gradient(90deg, #f0f0f0 25%, #fafafa 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }

  h2 {
    margin-bottom: 20px;
    height: 20px;
    width: 150px;
    border-radius: 6px;
  }

  &__WeeklyComponentDay {
    height: 14px;
    width: 35px;
    border-radius: 6px;
  }

  &__WeeklyComponentWeatherIcon {
    height: 35px;
    width: 35px;
    border-radius: 6px;    
  }

  &__temps {
    height: 14px;
    width: 45px;
    border-radius: 6px;    
  }

  &__chanceOfRain {
    height: 14px;
    width: 45px;
    border-radius: 6px;    
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}