@import "@/style/base/variables.scss";

.WeeklyComponent {
  background-color: #D9D9D9;
  width: 100%;
  height: 100%;
  padding: 28px 34px 20px 34px;
  border-radius: 10px;

  &__content {
    height: 100%;
  }
  h2 {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

.WeeklyComponentList {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: calc(100% - 44px);
}

.WeeklyComponentItem {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(188, 188, 188);
  &:last-child {
    border-bottom: none;
  }

  &__left {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
    }
  }
  &__right {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }
}

.WeeklyComponentDay {
  width: 90px;
}

.humidity {
  display: flex;
  align-items: center;
  gap: 1px;
  &__icon {
    width: 18px;
    height: 18px;
  }
}