.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  position: fixed;
  height: 100vh;
  overflow: auto;
  flex: none;
  padding: 20px 26px 20px 30px;
}

.content {
  flex-grow: 1;
  padding: 20px 0;
  margin-left: 168px;
  height: 100vh;
  overflow: auto;
}