@import "@/style/base/variables.scss";


.dragging {
  background-color: #e0e0e0; /* Highlight dragged item */
  opacity: 0.7; /* Make it slightly transparent */
}
.cityCard {
  height: 230px;
  background-color: #D9D9D9;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 20px 15px 17px 15px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  &:hover {
    background-color: #BFBFBF; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  // Place[City] section
  &__cityInfo {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  &__cityName {
    font-size: 28px;
    font-weight: 600;
  }
  &__homeIconContainer {
    position: relative; 
  }
  &__homeIcon {
    height: 30px;
    width: 30px;
    transition: all 0.3s ease; 
    color: white;
    &:hover {
      cursor: pointer; 
      color: rgba(0, 0, 255, 0.3);
      /* Make the tooltip visible when the icon is hovered */
      + .cityCard__homeIconTooltip {
        visibility: visible;
        opacity: 1; 
      }
    }
  }
  .active {
    color: rgba(0, 0, 255, 1);
  }
  &__homeIconTooltip {
    visibility: hidden; 
    width: 120px;
    background-color: rgba(29, 29, 29, 0.9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
  
    position: absolute;
    z-index: 1;
    bottom: -125%; 
    left: 170%;
    margin-left: -60px; 
  
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
  }
  &__placeEdit {
    font-size: 16px;
    transition: all 0.3s ease; 
    margin-left: 5px;
    margin-top: 5px;
    color: rgba(0, 0, 255, 0.8);
    &:hover {
      cursor: pointer;
      color: rgba(0, 0, 255, 1); 
      text-decoration: underline;
      font-weight: 600;
    }
  }
  &__cityAddress {
    font-size: 14px;
    margin-left: 8px;
    margin-top: 5px;
  }

  // Weather section
  &__weather {
    display: flex;
    height: calc(100% - 44px);
    margin-top: 8px;
    margin-left: 34px;
  }

  &__currentInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
  }
  &__currentDateTime {
    font-weight: 500; 
  }
  &__currentWeather {
    display: flex;
    align-items: center;
  }
  &__currentWeatherIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__currentTemp {
    font-size: 58px;
    font-weight: 500;
  }
  // Button
  &__buttons {
    margin-left: 12px;
    margin-bottom: 10px;
  }

  &__hourlyWeather {
    width: 100%;
    overflow-y: auto;
  }
}