@import "@/style/base/variables.scss";

.cityCard {
  background-color: #D9D9D9;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 25px 35px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  // &:hover {
  //   background-color: #BFBFBF; 
  //   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  //   cursor: pointer;
  // }

  &__cityInfo {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  &__cityName {
    font-size: 28px;
    font-weight: 600;
  }
  
  &__homeIconContainer {
    position: relative; 
  }
  &__homeIcon {
    height: 30px;
    width: 30px;
    transition: all 0.3s ease; 
    color: white;
    &:hover {
      cursor: pointer; 
      color: rgba(0, 0, 255, 0.3); 
      /* Make the tooltip visible when the icon is hovered */
      + .cityCard__homeIconTooltip {
        visibility: visible;
        opacity: 1; 
      }
    }
  }
  .active {
    color: rgba(0, 0, 255, 1);
  }
  &__homeIconTooltip {
    visibility: hidden; /* Hidden by default */
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
  
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px; 
  
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-in-out;
  }

  &__cityAddress {
    font-size: 14px;
  }

  &__currentDateTime {
    font-weight: 500;
    margin-top: 10px;
  }

  &__currentWeather {
    display: flex;
    align-items: center;
  }
  &__currentWeatherIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__currentTemp {
    font-size: 58px;
    font-weight: 500;

  }
}