.todaysForecast {
  height: 34%;
  padding-top: 10px;

  &__container {
    background-color: #D9D9D9;
    height: 100%;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;

    h2 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}